{
    "rules": {
        "eqeqeq": "off",
        "curly": "error",
        "quotes": ["error", "double"]
    },
    "overrides": [
        
    ],
    "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
     ],
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".ts", "tsx"] }]
}